GCP_PROJECT=your-gcp-project-id
GCP_LOCATION=us-central1

BQ_AI_DATASET=ai_news
BQ_LABELED_TABLE=labeled_articles
BQ_HITL_TABLE=hitl_reviews

BQ_MLOPS_DATASET=mlops_dataset
BQ_HITL_STAGING=hitl_staging_data
BQ_ORIGINAL_TABLE=original_training_data
BQ_METADATA_TABLE=training_metadata

VERTEX_ENDPOINT_ID=your-vertex-endpoint-id

HITL_PREPROCESS_CF_URL=
TRIGGER_TRAINING_CF_URL=
HITL_BATCH_THRESHOLD=10

PORT=8080
FLASK_DEBUG=false
CACHE_TTL=300
